body{
    background-color:thistle;
}
h1{
    color:white;
}

.btn{
    cursor: pointer;
}

.clicked{
    color: midnightblue;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

/* color클래스 */