body {
  background-color: thistle;
}
body {
  color: white;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: midnightblue;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
